@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using RazorConsole.Components

<Columns>
    <p>Current count</p>
    <Markup Content="@currentCount.ToString()" Foreground="@Spectre.Console.Color.Green" />
</Columns>

<Columns>
    <TextButton Content="Click me"
                OnClick="IncrementCount"
                BackgroundColor="@Spectre.Console.Color.Grey"
                FocusedColor="@Spectre.Console.Color.Blue" />

    <TextButton Content="Click me backwards"
                OnClick="DecrementCount"
                BackgroundColor="@Spectre.Console.Color.Grey"
                FocusedColor="@Spectre.Console.Color.Blue" />
</Columns>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        if (currentCount == 0) return;
        currentCount--;
    }
}